* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: Nunito;
}

header {
    padding: 30px 150px;
    width: 100%;
    height: 130px;
    box-sizing: border-box;
    font-family: Nunito;
}

.header-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 250px;
    height: 46px;
    background-image: url(img/happy-paw.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.main-menu {
    width: 540px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.main-menu>p>a {
    text-decoration: none;
    color: rgb(71, 71, 71);
    font-size: 18px;
}

.main-menu>p>a:hover {
    color: rgba(255, 30, 0, 0.705);
}

.menu-item {
    position: relative;
}

.btn-line {
    width: 100%;
    height: 2px;
    color:  rgba(255, 30, 0, 0.705);

}

.main-contacts {
    width: 120px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-item {
    width: 30px;
    height: 30px;
}

.front-picture {
    background-image: url(img/petstore-icon.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100%;
}

.banner {
    padding: 200px;
}

.banner h1 {
    font-size: 54px;
    font-weight: bold;
}

.banner p {
    font-size: 16px;
    color: rgb(85, 63, 23);
    padding-top: 30px;
}

.buttons {
    height: 20px;
    padding-top: 50px;
}

.button-1 {
    border-radius: 15px;
    padding: 5px 20px;
    text-decoration: none;
    background-color: rgb(250, 200, 135);
    color: chocolate;
    font-weight: bold;
    transition: color 0.6s;
}

.button-2 {
    margin-left: 15px;
    border: 2px solid rgb(137, 137, 235);
    border-radius: 15px;
    padding: 5px 20px;
    text-decoration: none;
    background-color: parent;
    color: rgb(137, 137, 235);
    font-weight: bold;
    transition: color 0.6s;
}

.button-1:hover {
    background-color: rgb(137, 137, 235);
    color: white;
}

.button-2:hover  {
    background-color: rgb(137, 137, 235);
    color: white;
}

.cards {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: rgb(218, 175, 198);
}

.card-1 {
    background-image: url(img/card-1.png);
    border-radius: 20px;
    background-size: cover;
    padding: 50px;
    margin: 30px;
    border: 80px;
}

.card-2 {
    background-image: url(img/card-2.png);
    border-radius: 20px;
    background-size: cover;
    padding: 50px;
    margin: 30px;
    border: 80px;
    height: 100%;
}

.card-1 a {
    text-decoration: none;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.973);
    background-color: rgb(153, 179, 228);
    border-radius: 40px;
    color: rgb(161, 51, 0);
    font-weight: bold;
}

.card-1 h2 {
    padding-bottom: 20px;
    padding-top: 20px;
}

.card-2 a {
    text-decoration: none;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.973);
    background-color: rgb(153, 179, 228);
    border-radius: 40px;
    color: rgb(24, 141, 141);
    font-weight: bold;
}

.card-2 h3 {
    padding-bottom: 49px;
    padding-top: 20px;
}

section {
    background-color: rgb(230, 185, 209);
}

.pet-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.list {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    margin-right: 100px;
}
.picture-settings {
    flex: 1;
    margin: 70px 0px 70px 200px;
}

section ul {
    padding: 30px;
}

.list p {
    padding-top: 20px;
}

.list h2 {
    font-weight: bold;
}

.pay {
    display: flex;
    justify-content:space-around;
    text-align: center;
    padding: 50px 0 30px 0;
}

footer {
    display: flex;
    justify-content:space-around;
    text-align: center;
    padding: 50px 0 30px 0;
    background-color: rgb(212, 172, 248);
}

.phone {
    font-weight: bold;
}
.phone a {
    color: rgb(204, 57, 57);
    text-decoration: none;
}

.bottom-buttons input {
    border-radius: 15px;
    padding: 5px 20px;
    text-decoration: none;
    background-color: rgb(141, 215, 228);
    color: black;
    font-weight: bold;
    transition: color 0.6s;
}

.bottom-buttons button {
    border-radius: 15px;
    padding: 5px 20px;
    margin-top: 25px;
    text-decoration: none;
    background-color: rgb(191, 231, 97);
    color: black;
    font-weight: bold;
    transition: color 0.6s;
}